body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(7, 104, 7);
    font-size: 30px;
    font-family: sans-serif;
}